<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LInstDb_DEV" connectionString="metadata=res://*/LabDB.csdl|res://*/LabDB.ssdl|res://*/LabDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.22;user id=root;Pwd=dicembre19;persistsecurityinfo=True;database=linstdb_dev;port=3306;SslMode=none&quot;" providerName="System.Data.EntityClient" />
    <add name="LabDb_PRD" connectionString="metadata=res://*/LabDB.csdl|res://*/LabDB.ssdl|res://*/LabDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.22;user id=LabDBClient;Pwd=910938356;persistsecurityinfo=True;database=labdb;port=3306;SslMode=none&quot;" providerName="System.Data.EntityClient" />
    <add name="LabDb_DEV" connectionString="metadata=res://*/LabDB.csdl|res://*/LabDB.ssdl|res://*/LabDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.22;user id=LabDBClient;Pwd=910938356;persistsecurityinfo=True;database=labdb_dev;port=3306;SslMode=none&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>